<div class="container">
  <div class="col-md-offset-4 col-md-4">
    <div class="row">
      <div class="alert alert-danger" *ngIf="mode==1">
        <strong>Bad credentials!</strong> Invalid username or password.
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Authentification</div>
        <div class="panel-body">
          <form #f="ngForm"  (ngSubmit)="inlogin(f.value)">
            <div class="form-group">
              <label class="panel">UserName</label>
              <input name="username" ngModel type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="panel">Password</label>
              <input name="password" ngModel type="password" class="form-control">
            </div>
            <button class="btn btn-success" type="submit">login</button>
            <button class="btn btn-danger" (click)="register()">register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
